body {
    font-family: "맑은 고딕", "고딕", "굴림";
} /*웹 폰트 사용 가능*/

#wrapper {
    width: 800px;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: #f46075;
    height: 150px;
    background-image: url(../image/nav2.png);
    background-repeat: no-repeat;
    background-position: right center;   
}

header nav{
    width: 70%;
    float: left;
    margin-top: 50px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    margin: 15px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color : yellow;
}
/*wrapper에 대한 100% -> 800px
 height 설정 안하면 header 내용 유뮤에 따라 높이가 변함 -> height 150px 시 높이가 150px 고정
 background-position: right center ---> 이미지 크기에 따라 center bottom top 등으로 설정 가능*/

 /*-----------------------header 작업-------------------*/

h2{
    font-size: 1.5em;
}

section{
    width: 580px;
    float: left;
    padding: 5px;
}

section article {
    width: 250px;
    height: 220px;
    float: left;
    margin: 5px;
    padding: 10px;
    border: 1px solid gray;
}
 p {
    font-size: 12px;
    line-height: 20px;
}


aside {
    width: 200px;
    float: right;
    height: auto;
    margin-top: 80px;
    border: 1px solid green;
    text-align: center;
}

.at1:hover {
    background-color: #cf9;
    border : 1px solid green
}

.at2:hover {
    background-color: #a2d0ff;
    border : 1px solid blue
}
.at3:hover {
    background-color: #ebcbfe;
    border : 1px solid purple
}
.at4:hover {
    background-color: #fc3;
    border : 1px solid red
}


.at1,.at2,.at3,.at4 {
    transition: 2s;
}
/*------------.at4 {transition: 2s;} --> hover값의 적용 시간을 변경할 수 있음---------------*/
 


/*-----------------------footer 작업-------------------*/




footer{
    clear: both;
    width: 800px;
    background-color: #333;
    
}
footer p {
    color: white;
    padding: 20px;
    text-align: center;
}




